@import "compass";
@import "hdstyle/_ui.scss";

// bower:scss
// endbower

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  .hd-logo {
    font-size:2em;
    .hd {
      position: fixed;
      top: 20px;
      left: 20px;
    }
  }
  nav {
    position: fixed;
    display:inline-block;
    top:20px;
    right: 20px;
  }
}



/* Soical icons*/
// Social Icon sprites
$icons-layout: smart;
@import "icons/*.png";
@include all-icons-sprites;


.social {
  display: flex;
  flex-direction: row;
  padding: 0 30%;
  a {
    display: block;
    width: em(32px);
    height: em(32px);
    @include hide-text;
  }
  li {
    margin: 0 1em;
  }
}

.btn-hd {
  background: transparent;
  outline: none;
  border: 2px solid black;
  color: black;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 0.12em;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}


/*Landing*/

#landing {
  margin-top: 8em;
  h3 {
    text-align: center;
  }
}
