@import "compass";
@import "hdstyle/_ui.scss";

// bower:scss
// endbower

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  .hd-logo {
    font-size:2em;
    font-family: $font-family--logo;
    .hd {
      position: fixed;
      top: 5px;
      left: 20px;
    }
  }
  nav {
    position: fixed;
    display:inline-block;
    #toggle {
      top:20px;
      right: 20px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    ul {
      @media screen and (max-width: 768px) {
        margin-top: 4.5em;
      }
    }
    li {
      @media screen and (max-width: 768px) {
        background-color: #fff;
      }
    }
  }
}

/* Soical icons*/
// Social Icon sprites
$icons-layout: smart;
@import "icons/*.png";
@include all-icons-sprites;


.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    display: block;
    width: em(32px);
    height: em(32px);
    @include hide-text;
  }
  li {
    margin: 0 1em;
  }
}

.btn-hd {
  background: transparent;
  outline: none;
  border: 2px solid black;
  color: black;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 0.12em;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.avatar {
  width: 50%;
  margin: 0 auto;
}
/*Landing*/

#landing {
  margin-top: 8em;
  h3 {
    text-align: center;
  }
}

/*Projects*/
#projects{
  margin-top: 5em;
  .tag {
    font-size: 1.5em;
  }

  #hdui .screenshot {
    background-image: url('../img/hdui.png');
  }

  #hddemo .screenshot {
    background-image: url('../img/hddemo.png');
  }

  .screenshot {
    background-repeat: no-repeat;
    background-size: em(250px);
    background-position: center;
    height: em(300px);
    span {
      font-family: $font-family--logo;
    }
  }
  .details {
    padding: 5px 10px;
  }
}

/*Bio*/

.bio .devicons {
  font-size: 2em;
  color: #C12841;
}

.biocontent {
  height: em(300px);
}
