@import "compass";
@import "hdstyle/_ui.scss";

// bower:scss
// endbower

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hd-logo {
  font-size:2em;
  display: block;
  margin-top: 1.25em;
  margin-bottom: 1.875em;
  span {
    height:100%;
  }
}

/* Soical icons*/
// Social Icon sprites
$icons-layout: smart;
@import "icons/*.png";
@include all-icons-sprites;


.social {
  display: flex;
  flex-direction: row;
  padding: 0 30%;
  a {
    display: block;
    width: em(32px);
    height: em(32px);
    @include hide-text;
  }
  li {
    margin: 0 1em;
  }
}



/*Landing*/

#landing {
  margin-top: 5em;
  h3 {
    text-align: center;
  }
}
