// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("logo.svg", 115px, 45px, inline-block);
}

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		@include img-replace("menu.svg", 30px, 30px);
		position: absolute;
		right: 15px;
		top: 5px;
	}

	// Close
	@include m(close) {
		@extend %icn--ui;
		@include img-replace("menu.svg", 30px, 30px);
		position: absolute;
		right: 5%;
		top: 5%;
	}
}
