// ==========================================================================
// Offcanvas
// ==========================================================================

.offcanvas {
	position: relative;
	padding: em(10px);
	letter-spacing: $letter-space;
	background: $rose-l;
	background: linear-gradient(35deg, rgba($rose-l,.6) 0%,$rose 100%);
}
